.interface-home-box{
    box-shadow: #00000050 0 0 5px;
    height: auto;
    width: 95%;
    margin: 20px auto;
    padding: 20px;
}
.interface-home-box h4{
    width: 10%;
    box-shadow: #9ba5fa 0 0 5px;
    color: #82989f;
}
.interface-home-banner-box{
    margin-bottom: 20px;
}
#interface-home-banner-img{
    height: 300px;
    width: 400px;
    box-shadow: #f89a9a 0 0 5px;
}